.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

#contact {
  background-color: black;
  color: white;
  display: flex;
}

#projects {
  color: white;
  display: flex;
}